<html>
    <head>
        <title>a2b simulator</title>
        <link rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}">
    </head>
    <body>
        <div class="centered">
            <div class="pod">
                <h1>a2b simulator</h1>
                <p>Have an experience of what a2b is like without having to move</p>
            </div>
            <div class="columns">
                <div class="pod pod-border-blue">
                    <h4>Left Hand Side</h4>
                    <p>Current pattern: {{ lhs }}</p>
                    <form method="POST" action="{{ url_for('lhs_control') }}">
                        <select id="lhs" name="pattern">
                            <option value="none">None</option>
                            <option value="very_near">Very Near</option>
                            <option value="near">Near</option>
                            <option value="far">Far</option>
                            <option value="very_far">Very Far</option>
                        </select>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="pod pod-border-red">
                    <h4>Right Hand Side</h4>
                    <p>Current pattern: {{ rhs }}</p>
                    <form method="POST" action="{{ url_for('rhs_control') }}">
                        <select id="rhs" name="pattern">
                            <option value="none">None</option>
                            <option value="very_near">Very Near</option>
                            <option value="near">Near</option>
                            <option value="far">Far</option>
                            <option value="very_far">Very Far</option>
                        </select>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="pod">
                <h4>Video Demonstration</h4>
                <br>
                <video width="560" height="405" id="visual" controls>
                    <source src="{{ url_for('.static', filename='car.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video> 
            </div>
        </div>
    </body>
</html>

<script>

var side = "none";
var pattern = "none";

let visual = document.getElementById("visual");
let trigger = document.getElementById("simulation-trigger");
let display = document.getElementById("simulation-status");

let instructions = {
    "0,50": ["none", "none"],
    "51,56": ["near", "left"],
    "57,77": ["very_near", "left"],
    "78,80": ["none", "none"],
    "81,85": ["very_far", "right"],
    "86,91": ["far", "right"],
    "92,96": ["near", "right"],
    "97,113": ["very_near", "right"],
    "114,117": ["none", "none"],
    "118,123": ["far", "right"],
    "124, 127": ["near", "right"],
    "128,140": ["very_near", "right"],
    "141,181": ["none", "none"],
    "182,186": ["very_far", "right"],
    "187,191": ["far", "right"],
    "192,196": ["near", "right"],
    "197,202": ["very_near", "right"],
    "203,207": ["very_far", "left"],
    "208,212": ["far", "left"],
    "212,217": ["near", "left"],
    "218,222": ["very_near", "left"],
    "223,227": ["none", "none"],
    "228,232": ["very_far", "right"],
    "233,237": ["far", "right"],
    "238,242": ["near", "right"],
    "243,247": ["very_near", "right"],
    "248,318": ["none", "none"],
    "319,323": ["very_far", "left"],
    "324,328": ["far", "left"],
    "329,334": ["near", "left"],
    "335,340": ["very_near", "left"],
    "341,344": ["far", "left"],
    "345,349": ["near", "left"],
    "349,353": ["very_near", "left"],
    "354,359": ["far", "right"],
    "360,364": ["near", "right"],
    "365,377": ["very_near", "right"],
    "378,456": ["none", "none"],
    "457,461": ["very_far", "right"],
    "462,466": ["far", "right"],
    "467,472": ["near", "right"],
    "473,479": ["very_near", "right"],
    "480,484": ["very_far", "right"],
    "485,488": ["far", "right"],
    "489,494": ["near", "right"],
    "495,499": ["very_near", "right"],
    "500,600": ["none", "none"],
};

visual.ontimeupdate = () => {
    // During the video playing
    let time = Math.round(visual.currentTime);
    for (const range of Object.keys(instructions)) {
        const frags = range.split(",");
        let start = frags[0];
        let end = frags[1];
        if (time >= start && time <= end) {
            pattern = instructions[range][0];
            side = instructions[range][1];
            break;
        }
    }
};

var cache = [null, null];

function printer() {

    // Build fake form data
    let formData = new FormData();
    formData.append('pattern', pattern);

    // Only send request if something is different
    if (cache[0] != pattern || cache[1] != side) {
        console.log(pattern + " on " + side);
        // Start buliding new request

        // Determine side
        if (side == "left") {
            resetRight()
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('lhs_control') }}", true);
            xhttp.send(formData);
        } else if (side == "right") {
            resetLeft()
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('rhs_control') }}", true);
            xhttp.send(formData);
        } else {
            var xhttp1 = new XMLHttpRequest();
            var xhttp2 = new XMLHttpRequest();
            xhttp1.open("POST", "{{ url_for('lhs_control') }}", true);
            xhttp2.open("POST", "{{ url_for('rhs_control') }}", true);
            xhttp1.send(formData);
            xhttp2.send(formData);
        }

        // Send request
        cache = [pattern, side];
    }

    setTimeout(printer, 500);
}
printer()

function resetLeft() {
    let formData = new FormData();
    formData.append('pattern', 'none');
    let xhttp = new XMLHttpRequest();
    xhttp.open("POST", "{{ url_for('lhs_control') }}", true);
    xhttp.send(formData);
}


function resetRight() {
    let formData = new FormData();
    formData.append('pattern', 'none');
    let xhttp = new XMLHttpRequest();
    xhttp.open("POST", "{{ url_for('rhs_control') }}", true);
    xhttp.send(formData);
}


</script>
